

.upper_box{
	width:100%;
	height:200px;
	background:#999;
}
.lower_box{
	width:100%;
	height:500px;
	background:silver;
}
.holder_position{
	width:100px;
	height:50px;
	background:white;
	margin:10px;
	float:left;
}
.answer_dice{
	width:100px;
	height:50px;
	background:red;
}
.picture img{
	width:300px;
	height:300px;
}
.picture_box{
	width:300px;
	height:500px;
	float:left;
	margin:20px;
}
.question_box{
	width:100%;
	height:100px;
	background:blue;
}
.drop_place{
	width:100px;
	height:50px;
	background:white;
	text-align:center;
	vertical-align:middle;
}